.map {
	// .map__inner
	&__inner {
	}
}
.map-container {
}
.section-inner {
}
.map-text {
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
	// .map-text__subtitle
	&__subtitle {
	}
	// .map-text__title
	&__title {
		text-wrap: balance;
	}
}
.map-img {
}
.map-markers {
}
