.footer {
	padding: 56px 0;
	background-color: #051936;
}
.container {
}
.footer-top {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-size: 22px;
	color: #fff;
	// margin-bottom: 64px;
	// .footer-top__links-list
	&__links-list {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
	}
	// .footer-top__links-item
	&__links-item {
		width: fit-content;
		cursor: pointer;
		transition: 0.3s ease-in-out;
		&:hover {
			opacity: 0.7;
		}
	}
}
.footer-column {
	width: 50%;
	padding: 32px;
}
.footer-contacts {
	display: flex;
	flex-direction: column;
	row-gap: 32px;
	// .footer-contacts__phone
	&__phone {
		display: none;
	}
	// .footer-contacts__email
	&__email {
	}
	// .footer-contacts__address
	&__address {
		text-wrap: balance;
	}
}
.footer-bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	// font-size: 22px;
	color: #fff;
	opacity: 0.6;
	// .footer-bottom__copyright
	&__copyright {
		display: flex;
		column-gap: 5px;
	}
	// .footer-bottom__developer
	&__developer {
		display: flex;
		align-items: flex-end;
		column-gap: 10px;
		p {
			text-wrap: nowrap;
		}
		a {
			img {
				width: 25%;
				opacity: 0.6;
				transition: 0.3s ease-in-out;
				&:hover {
					color: #46ffd4;
					opacity: 1;
				}
			}
		}
	}
}

//==========================================================================================================================================================
// Адаптив
@media (max-width: 1199.98px) {
}

@media (max-width: 767.98px) {
	.footer-top {
		font-size: 16px;
		margin-bottom: 32px;
		.footer-column {
			padding: 16px;
		}
	}
	.footer-bottom {
		flex-direction: column;
		row-gap: 10px;
		font-size: 12px;
		.footer-column {
			width: 100%;
			padding: 0;
		}
		&__copyright {
			justify-content: flex-end;
		}
		&__developer {
			justify-content: flex-end;
			a img {
				width: 80px;
			}
		}
	}
}

@media (max-width: 575.98px) {
	.footer-top {
		font-size: 14px;
	}
}

@media (max-width: 359.98px) {
}
