.footer {
	padding: 55px 0;
	width: 100%;
	background-color: #051936;
	// .footer__inner
	&__inner {
		display: flex;
		// justify-content: space-between;
		justify-content: center;
		align-items: center;
		column-gap: 154px;
		font-size: 22px;
		color: #fff;
		margin-bottom: 64px;
	}
}
.container {
}
.footer-contacts {
	margin-bottom: 32px;
	// .footer-contacts__column
	&__column {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
		min-width: 320px;
	}
	// .footer-contacts__phone
	&__phone {
		color: #051936;
	}
	// .footer-contacts__email
	&__email {
	}
	// .footer-contacts__address
	&__address {
	}
}

.footer-bottom {
	display: flex;
	justify-content: center;
	column-gap: 154px;
	font-size: 12px;
	color: rgba(#fff, 0.5);

	// .footer-bottom__column
	&__column {
		min-width: 320px;
	}
	// .footer-bottom__copyright
	&__copyright {
		display: flex;
		column-gap: 5px;
	}
	// .footer-bottom__developer
	&__developer {
		a {
			color: rgba(#43bea2, 0.5);
			transition: color 0.3s ease-in-out;
			&:hover {
				color: rgba(#43bea2, 1);
			}
		}
	}
}

//==========================================================================================================================================================
// Адаптив
@media (max-width: 767.98px) {
	.footer__inner {
		column-gap: 96px;
		font-size: 16px;
	}
	.footer-contacts__column {
		row-gap: 26px;
	}

	.footer-bottom {
		column-gap: 96px;
	}
}

@media (max-width: 575.98px) {
	.footer__inner {
		column-gap: 46px;
	}
	.footer-contacts__column {
		row-gap: 20px;
	}
	.footer-bottom {
		flex-direction: column;
		align-items: flex-end;
		row-gap: 10px;
	}
}

@media (max-width: 359.98px) {
	.footer__inner {
		column-gap: 36px;
		font-size: 12px;
	}
	.footer-contacts__column {
		row-gap: 14px;
	}
}
