.footer {
	padding: 55px 0;
	width: 100%;
	background-color: #051936;
	// .footer__inner
	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 164px;
	}
}
.container {
}
.footer-contacts {
	// .footer-contacts__column
	&__column {
		font-size: 22px;
		color: #fff;
	}
	// .footer-contacts__phone
	&__phone {
		color: #051936;
	}
	// .footer-contacts__email
	&__email {
		margin-bottom: 32px;
	}
	// .footer-contacts__address
	&__address {
	}
}
