.header {
	position: relative;
}
.header-top {
	padding: 35px 0;
	width: 100%;
	background-color: #051936;
	// .header-top__inner
	transition: all 0.3s ease-in-out;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: 'AvertaCY';
		font-size: 22px;
		color: #fff;
	}
	// .header-top__phone
	&__phone {
		// display: none;
		color: #051936;
		cursor: default;
	}
	// .header-top__phone-number
	&__phone-number {
	}
	// .header-top__logo
	&__logo {
		display: flex;
		flex-direction: column;
		row-gap: 15px;
		max-width: 285px;
		min-width: 285px;
	}
	// .header-top__logo-link
	&__logo-link {
	}
	// .header-top__logo-title
	&__logo-title {
		text-transform: uppercase;
		text-align: center;
	}
	// .header-top__address
	&__address {
		cursor: default;
		p {
		}
	}
	// .header-top__address-text
	&__address-text {
	}
	&.fixed {
		position: fixed;
		padding: 10px 0;
		z-index: 20;
		.header-top__inner {
			flex-direction: column;
			row-gap: 10px;
		}
		.header-top__logo {
			min-width: 100%;
			align-items: center;
		}
		.header-top__logo-link img {
			width: 136px;
			padding: 0;
		}
		.header-top__phone {
			display: none;
		}
	}
}

//==========================================================================================================================================================
// Слайдер
.header-slider {
	display: none;
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.slide {
	height: 100vh;
	overflow: hidden;
	background-position: center center; // x - y
	background-size: cover;
	background-repeat: no-repeat;
	// .slide__inner
	&__inner {
		padding-top: 350px;
	}
	// .slide__title
	&__title {
		font-family: 'Forum';
		font-size: 56px;
		color: #fff;
	}
}
.slide--img1 {
	background-image: url('/img/common/slide-1.webp');
}
.slide--img2 {
	background-image: url('/img/common/slide-2.webp');
}
.slide--img3 {
	background-image: url('/img/common/slide-3.webp');
}

.swiper-pagination {
}

.swiper-controls {
	// .swiper-controls__inner
	&__inner {
	}
}
.container {
}
.swiper-button {
	padding: 15px;
	transition: 0.3s ease;
	&:hover {
		opacity: 0.6;
	}
}
.swiper-button-prev {
	width: unset;
	height: unset;
	&::after {
		content: '';
		width: 38px;
		height: 38px;
		mask-image: url('/img/icons/prev.svg');
		mask-position: center;
		mask-size: contain;
		mask-repeat: no-repeat;
		background-color: #fff;
	}
}
.swiper-button-next {
	width: unset;
	height: unset;
	&::after {
		content: '';
		width: 38px;
		height: 38px;
		mask-image: url('/img/icons/next.svg');
		mask-position: center;
		mask-size: contain;
		mask-repeat: no-repeat;
		background-color: #fff;
	}
}

.swiper-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 13px;
	.swiper-pagination-bullet {
		width: 37px;
		height: 4px;
		border-radius: 0;
		background-color: #fff;
		cursor: pointer;
		margin: 0 !important;
	}
}

//==========================================================================================================================================================
// Адаптив
@media (max-width: 1199.98px) {
	.header-top__inner {
		flex-direction: column;
		row-gap: 25px;
	}
}

@media (max-width: 767.98px) {
	.header-top__inner {
		row-gap: 15px;
		font-size: 16px;
	}
}
