@use 'sass:math';

@import './base/fonts';
@import './base/null-style';
@import 'swiper/css/bundle';

//=========================================================================================================================================================
// Общие параметры

// Colors

// Оболочка
// html {
// 	scroll-behavior: smooth;
// }

body {
	font-family: 'AvertaCY', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	color: #313131;
	background: #fff;
	// overflow-x: hidden;
	// overflow-y: scroll;
	&.lock {
		overflow: hidden;
	}
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	.main {
		flex: 1 1 auto;
	}
}

.container {
	max-width: 1270px;
	margin: 0 auto;
	padding: 0 15px;
}

//=========================================================================================================================================================
// Общие стили элементов
.section-inner {
	padding: 80px 0;
}
.section-title {
	font-family: 'Forum';
	font-size: 66px;
	text-align: center;
}
.section-subtitle {
	font-family: 'Forum';
	font-size: 36px;
	text-align: center;
}

//=========================================================================================================================================================
// Контйнеры
@media (max-width: 1199.98px) {
	.container {
		max-width: 960px;
	}
}

@media (max-width: 991.98px) {
	.container {
		max-width: 720px;
	}
}

@media (max-width: 767.98px) {
	.container {
		max-width: 540px;
		// width: 100%;
	}

	.section-inner {
		padding: 60px 0;
	}
	.section-title {
		font-size: 46px;
	}
	.section-subtitle {
		font-size: 26px;
	}
}

@media (max-width: 575.98px) {
	.container {
		width: 100%;
	}
	.section-inner {
		padding: 30px 0;
	}
}

//=========================================================================================================================================================
// Блоки
@import './_header';
@import './_main';
@import './_footer';

// * {
// 	outline: 1px solid red !important;
// }
