@use 'sass:math';

@import './base/_fonts';
@import './base/null-style';
@import 'swiper/css/bundle';

//=========================================================================================================================================================
// Общие параметры

// Colors

// Оболочка
body {
	font-family: 'AvertaCY', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	color: #313131;
	background: #fff;
	// overflow-x: hidden;
	// overflow-y: scroll;
	&.lock {
		overflow: hidden;
	}
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	.main {
		flex: 1 1 auto;
	}
}

.container {
	max-width: 1270px;
	margin: 0 auto;
	padding: 0 15px;
}

//=========================================================================================================================================================
// Общие стили элементов

//=========================================================================================================================================================
// Контйнеры
@media (max-width: 1199.98px) {
	.container {
		max-width: 960px;
	}
}

@media (max-width: 991.98px) {
	.container {
		max-width: 720px;
	}

	.section-inner {
		padding: 15px 100px;
	}
}

@media (max-width: 767.98px) {
	.container {
		max-width: 540px;
		// width: 100%;
	}
}

@media (max-width: 575.98px) {
	.container {
		width: 100%;
	}
}

//=========================================================================================================================================================
// Блоки
@import './_header';
@import './_main';
@import './_footer';
